@model SelectModelCoutryShops

@{
    ViewData["Title"] = "Shops";
}

<h1>Shops</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead style="background-color:antiquewhite">
        <tr>
            <th>
                @Html.DisplayName(nameof(Shops.Name))
            </th>
            <th>
                @Html.DisplayName(nameof(Shops.CountryId))
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShopsList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.CountryList.FirstOrDefault(p => p.Id == item.CountryId).Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
