@model BookShop.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShortDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pages)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pages)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price, "Price")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublishDate, "Date")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorId)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Author
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ThemeId)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Theme
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Codes)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(string.Join("<br/>", Model.Codes.Select(Html.Encode)))
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
