@model SelectModelAuthorsThemes

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead style="background-color:antiquewhite">
        <tr>
            <th>
                @Html.DisplayName(nameof(Book.Name))
            </th>
            <th>
                @Html.DisplayName(nameof(Book.ShortDesc))
            </th>
            <th>
                @Html.DisplayName(nameof(Book.Pages))
            </th>
            <th>
                @Html.DisplayName(nameof(Book.Price))
            </th>
            <th>
                @Html.DisplayName(nameof(Book.PublishDate))
            </th>
            <th>
                @Html.DisplayName(nameof(Book.AuthorId))
            </th>
            <th>
                @Html.DisplayName(nameof(Book.ThemeId))
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BookList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price, "Price")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishDate, "Date")
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.AuthorList.FirstOrDefault(p => p.Id == item.AuthorId).Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.ThemeList.FirstOrDefault(p => p.Id == item.ThemeId).Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
